*{
    margin: 0;
    padding: 0;
}

.app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2980B9;
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);

}

.container{
    width:50%;
    background-color: #f7f7f7;
}

h1{
    background-color: rgb(106, 106, 250);
    color: white;
    padding: 10px;
}

.fa-plus{
float: right;
}

.input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.4rem;
    border: 2px solid #fff;
    padding: 5px;
}

.input:focus{
    outline: none;
    border:2px solid rgb(106, 106, 250);
}

li{
    list-style: none;
    font-size: 1.4rem;
    padding: 5px;
}

span{
    display: none;
    padding: 4px;
    color: #fff;
    background-color: rgb(247, 11, 11);
}

li:hover{
    cursor:pointer;
    padding: 5px 0px;
}

li:hover span{
    display: inline;
}

.completed{
    text-decoration: line-through;
}